[Desktop Entry]
Encoding=UTF-8
Name=PlusCoin
Comment=PlusCoin P2P Cryptocurrency
Comment[fr]=PlusCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=PlusCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/pluscoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/pluscoin;
Categories=Office;
