[Desktop Entry]
Encoding=UTF-8
Name=PoolCoin
Comment=PoolCoin P2P Cryptocurrency
Comment[fr]=PoolCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=PoolCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/poolcoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/poolcoin;
Categories=Office;
