#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_bitcoin
#build/bitcoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_bitcoin)

DEB_INSTALL_EXAMPLES_poolcoind += debian/examples/*
DEB_INSTALL_MANPAGES_poolcoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix poolcoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f poolcoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake poolcoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_poolcoin
	src/test_poolcoin

# Ensure wrapper is set executable
binary-post-install/poolcoind:
	chmod +x $(cdbs_curdestdir)usr/bin/poolcoind
binary-post-install/poolcoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/poolcoin-qt
